<!-- register.page.html -->
<ion-content class="ion-padding">
  <div class="content-container">
    <div class="logo-container">
      <img src="assets/draw1.jpeg" alt="Logo" class="logo">
    </div>

    <ion-card>
      <ion-card-content>
        <form (ngSubmit)="register()" #registerForm="ngForm">
          <ion-input type="text" name="first_name" [(ngModel)]="formData.first_name" placeholder="First Name" required></ion-input>
          <ion-input type="text" name="last_name" [(ngModel)]="formData.last_name" placeholder="Last Name" required></ion-input>
          <ion-input type="tel" name="phone_number" [(ngModel)]="formData.phone_number" placeholder="Phone Number" required></ion-input>
          <ion-input type="email" name="email" [(ngModel)]="formData.email" placeholder="Email" required></ion-input>
          <ion-input type="password" name="password" [(ngModel)]="formData.password" placeholder="Password" required></ion-input>
          <ion-button expand="block" type="submit" [disabled]="!registerForm.valid">Register</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <div class="login-prompt">
      Already registered? <a routerLink="/login">Login</a>
    </div>
  </div>
</ion-content>